*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #caacd1;
}

.app{
    background-color: #fbf3ff;
    padding: 16px;
    border-radius: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
}


input{
    margin: 8px 0;
    padding: 8px;
    outline: none;
}
#btn-Calcular{
    background-color: rgb(118, 119, 209);
    color:#fdf2ff;
    padding: 8px;
    border-radius: 4px;
    outline: none;
}

#btn-Limpar{
    background-color: rgb(197, 100, 192);
    color:#fdf2ff;
    padding: 8px;
    border-radius: 4px;
    outline: none;
}